@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1650771095667') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-88:before {
  content: "\e678";
}

.icon-shijian:before {
  content: "\f00f9";
}

.icon-dengpaotishi:before {
  content: "\e622";
}

.icon-11qq:before {
  content: "\e64d";
}

.icon-tuitetwitter44:before {
  content: "\e6ef";
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-xiangzuo1:before {
  content: "\e779";
}

.icon-shang:before {
  content: "\e611";
}

.icon-facebookfacebook51:before {
  content: "\e607";
}

.icon-shouye:before {
  content: "\e6cb";
}

.icon-yonghu:before {
  content: "\e639";
}

.icon-huidaodingbu:before {
  content: "\e6a4";
}

.icon-zuozhe:before {
  content: "\e688";
}

.icon-csdn:before {
  content: "\e60a";
}

.icon-weibo:before {
  content: "\e62d";
}

.icon-google:before {
  content: "\e60d";
}

.icon-guidang:before {
  content: "\e619";
}

.icon-youqinglianjie:before {
  content: "\e636";
}

.icon-xiaoxi:before {
  content: "\e614";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-daohangdizhi:before {
  content: "\e65e";
}

.icon-lianjie:before {
  content: "\eadc";
}

.icon-biaoqian:before {
  content: "\e60e";
}

.icon-24gf-tags:before {
  content: "\e886";
}

.icon-qqspace:before {
  content: "\e702";
}

.icon-jurassic_message:before {
  content: "\e69f";
}

.icon-weibo1:before {
  content: "\e8bb";
}

.icon-guanyu:before {
  content: "\e623";
}

.icon-zhihu-circle-fill:before {
  content: "\ea8b";
}

.icon-fenleimulu2x:before {
  content: "\e602";
}

.icon-banquan:before {
  content: "\e620";
}

